<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title> LiveCodeDocs - Help </title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>	
		<!--<script src = "{{ url_for('static', filename = 'js/HomePageJS.js') }}"></script> -->
		<script src = "../static/js/Help.js"></script>
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/HomePageStyling.css') }}"> -->
		<link rel="stylesheet" href="../static/stylesheets/Help.css">
	</head>

	<body>
			<div> 
		<h1 id = "aboutLabel"> About Live Code Docs</h1>

		<h3 id = "aboutLabel2"> Thank you for using Live Code Docs!  Live Code Docs is an online, collaborative writing tool designed to help multiple developers work on the same piece of code at the same time without complicated merge errors. Please note that this is simply a prototype and therefore not all of the features are complete. Future releases will provide funcionality to the file, project, settings and save buttons on the top bar.  They will also provide the ability to delete and rename files and several other capabilities. </h3>
		
		<h3 id = "contactLabel"> Thank you for joining us as we make Live Code Docs the best it can possibly be.  If you have any questions, comments or concerns, please do not hesitate to reach out to the company founder via email at cookmn@rose-hulman.edu. </h3>

		<h3 id = "finalThanksLabel"> Thanks and happy coding! </h3> 
			</div>
	</body>
</html>
