<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title> LiveCodeDocs - Help </title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>	
		<!--<script src = "{{ url_for('static', filename = 'js/HomePageJS.js') }}"></script> -->
		<script src = "../static/js/Help.js"></script>
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/HomePageStyling.css') }}"> -->
		<link rel="stylesheet" href="../static/stylesheets/Help.css">
	</head>

	<body>
			<div> 
		<font id = "helpLabel2" style="color:#9B30FF;" size = "25"> For help, call (301) 339-4863 </font> 
			</div>
	</body>
</html>
