<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title> LiveCodeDocs - Home Page </title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>	
		<script src = "{{ url_for('static', filename = 'js/HomePageJS.js') }}"></script>
	
		<!-- our code -->
		<link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/HomePageStyling.css') }}">
	</head>

	<body>
		<div id = "mainBanner">
			<h1 id = "WelcomeBanner">Welcome to LiveCodeDocs!</h1>
			<form id="buttonCluster">
				<div id = "usernameField"> 
					<label id = "userLabel"> Username </label> 
					<input type="text" id="usernameInput">
				</div>
				<div id = "passwordField">
					<label id = "passLabel"> Password </label>
					<input type="text" id="passwordInput">
				</div>
			</form>
		
			<div id="loginSignup">
				<button id = "loginbutton" type="button" class="btn btn-default hmloginsignup"> login </button>
				<button id = "signupbutton" type="button" class="btn btn-default hmloginsignup"> sign-up </button>
				<button id="helpButton" type="button" class="btn btn-default"> help docs </button>
			</div>
		</div>
	</body>

</html>
