<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/project.css') }}">
		<!-- <link rel="stylesheet" type="text/css" href="../static/stylesheets/project.css"> -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename = '../static/js/project.js') }}"></script>
		<!-- <script src = "../static/js/project.js"></script> -->
		<!-- Create a simple CodeMirror instance -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'codemirror/CodeMirror-master/lib/codemirror.css') }}"> -->
		<!-- <link rel="stylesheet" href="../static/codemirror/CodeMirror-master/lib/codemirror.css"> -->
		<!-- <script src="{{ url_for('static', filename = 'codemirror/CodeMirror-master/lib/codemirror.js') }}"></script> -->
		<!-- <script src="../static/codemirror/CodeMirror-master/lib/codemirror.js"></script> -->
		<title>Project</title>
	</head>
	<body>
		<!-- BEGIN NAVBAR -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a style="color:#ffffff;" class="navbar-brand" href="#">Live Code Docs</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a style="color:#ffffff;" href="#">My Projects</a></li>
		        <li class="dropdown">
		        <a style="color:#ffffff;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="current-project">[Current Project]</span> <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Project 2</a></li>
		            <li><a href="#">Project 3</a></li>
		            <li><a href="#">Project 4</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Show more</a></li>
		          </ul>
		        </li>
		      </ul>
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Go >></button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		      	<p style="color:#ffffff;" class="navbar-text">Signed in as Josh Green</p>
		        <li><a style="color:#ffffff;" id = "logOutButton" href="#">Log Out</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<!-- END NAVBAR -->
		<div class="files">
			<div class="file-box">
				<span class="glyphicon glyphicon-file"></span>
			</div>
		</div>
		<div class="file-list">
			<h1>Files</h1>
			<button type="button" id="new-file-button" class="btn btn-default" data-toggle="modal" data-target="#new-file-modal">New File</button>
			<ul id="project-files-list" class="list-group">				
			</ul>
		</div>
		<div class="jumbotron">
			<div id = "toolbar-nav" class="container" style="height: 80vh;">
				<nav class="navbar navbar-default" style="margin-top: -10px;">
					<ul class="nav nav-pills">
						<li role="presentation"><a href="#" style = "color:#007A29;"><span class="glyphicon glyphicon-play" style = "color:#007A29;"></span> &nbsp Run</a></li>
						<li role="presentation"><a href="#" style = "color:#FF0000;"><span class="glyphicon glyphicon glyphicon-stop" style = "color:#FF0000;"></span>&nbsp Stop</a></li>
						<li role="presentation"><a href="#"><span class="glyphicon glyphicon-file"></span>&nbsp File</a></li>
						<li role="presentation"><a href="#"><span class="glyphicon glyphicon-folder-open"></span>&nbsp Project</a></li>
						<li role="presentation"><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp Settings</a></li>
						<li role="presentation"><a href="#"><span class="glyphicon glyphicon-save"></span>&nbsp Save</a></li>
						<li role="presentation"><a id = "help" href="#"><span class="glyphicon glyphicon-question-sign"></span>&nbsp Help</a></li>

					</ul>
				</nav>
				<div id = "text_editor_div"> 
					<textarea rows = "37" cols = "159" id = "text_editor"></textarea>
				</div>
			</div>
			<div class="container" style="background-color: blue;"></div>
		</div>
		<div class="console-toggle"><span class="glyphicon glyphicon-chevron-up"></span><br />Console</div>
		<div class="console"></div>

		<!--NEW FILE MODAL -->
		<div class="modal fade" id="new-file-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add New File</h4>
		      </div>
		      <div class="modal-body">
		        <div class="input-group">
				  <span class="input-group-addon glyphicon glyphicon-file" id="basic-addon1"></span>
				  <input type="text" id="new-file-name" class="form-control" placeholder="Filename" aria-describedby="basic-addon1">
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" id="new-file-add-button" class="btn btn-primary">Add</button>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
